
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";
@import "node_modules/select2/dist/css/select2";
@import "node_modules/select2-bootstrap-theme/dist/select2-bootstrap";


$icon-font-path: "../../fonts/bootstrap/";

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) {
  @import "_small/header";
  @import "_small/aside";
  @import "_small/main";

}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @import "_large/header";
  @import "_large/aside";
  @import "_large/main";
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}