aside {
  display: none;
  background-color: white;
  width: 200px;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  box-shadow: 1px 0 5px #dfdfdf;
  overflow-y: auto;
  header {
    div.account-wrapper {
      padding: 10px;
      width: 200px;
      p {
        margin: 0;
        line-height: 40px;
      }
      p.icon {
        float: left;
        background-color: limegreen;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: white;
      }
      p.email {
        float: right;
      }
    }
  }
  main {
    min-height: calc(100% - 183px);
    nav {
      border-top: 1px solid #dfdfdf;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          &.type-dropdown {
            a.active {
              span {
                transform: rotate(180deg);
              }
            }
            ul {
              display: none;
            }

          }
          p {
            margin: 0;
            padding: 10px 20px;
            text-align: center;
          }
          a, button {
            text-align: left;
            border: none;
            background-color: white;
            display: block;
            width: 100%;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            color: black;
            span {
              transition: .5s;
            }
            &:focus {
              color: black;
              text-decoration: none;
            }
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 40px;
              left: 0;
              border-left: 5px solid transparent;
              transition: .3s;
            }
            &:hover {
              text-decoration: none;
              &:after {
                border-left: 5px solid limegreen;
              }
              color: black;

            }
          }
          p, a, button {
            border-bottom: 1px solid #dfdfdf;
          }
        }
      }
    }
  }
  footer {
    margin-top: 40px;
    .copyright-wrapper {
      padding: 10px 20px;
      text-align: center;
      border-top: 1px solid #dfdfdf;
      p {
        margin: 0;
      }
    }
    .logout-wrapper {
      button {
        text-align: left;
        border: none;
        background-color: white;
        display: block;
        width: 100%;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        color: black;
        border-top: 1px solid #dfdfdf;
        span {
          transition: .5s;
        }
        &:focus {
          color: black;
          text-decoration: none;
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 40px;
          left: 0;
          border-left: 5px solid transparent;
          transition: .3s;
        }
        &:hover {
          text-decoration: none;
          &:after {
            border-left: 5px solid limegreen;
          }
          color: black;

        }
      }
    }
  }
}