header.cms-main-header, .login-header {
  background-color: white;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 5px #dfdfdf;
  .title-wrapper {
    margin-left: 20px;
    float: left;
    h1 {
      margin: 0;
      padding: 0;
      line-height: 60px;
    }
  }
  .menu {
    margin: 18px 20px 0 0;
    float: right;
    a {
      display: block;
      color: #636b6f;
      font-size: 19px;
    }
  }
  .lang-select {
    margin: 20px 20px 0 0;
    float: right;
    nav {
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          &.type-dropdown {
            a.active {
              span {
                transform: rotate(180deg);
              }
            }
            ul {
              display: none;
            }

          }
          ul {
            display: none;
            li {
              a {
                text-align: left;
                padding: 5px 5px 5px 0;
                &:hover {
                  text-decoration: none;
                }
              }
              &:last-child {
                border: none;
              }
            }
          }
          a {
            display: block;
            text-align: center;
            color: #636b6f;
            span {
              transition: .5s;
            }
            &:focus {
              text-decoration: none;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}