body {
  background-color: white;
}

div.content {
  z-index: -1;
  background-color: white;
  position: absolute;
  width: calc(100% - 200px);
  top: 60px;
  left: 200px;
  min-height: calc(100% - 60px);
  padding: 40px;
  h1 {
    margin: 0;
  }
}

main {
  div.login-wrapper {
    max-width: 300px;
    margin: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

